<app-navbar></app-navbar>
<div class="main">
    <div class="container">
        <textarea class="area" >
          
        </textarea>
        <div class="buttons">
            <button id="delete">Delete Note</button>
            <button id="edit"></button>
        </div>
       
    </div>
    <div class="container">
        <textarea class="area" >
          
        </textarea>
        <div class="buttons">
            
            <button id="delete">Delete Note</button>
            <button id="edit"></button>
        </div>
       
    </div>
    <div class="container">
        <textarea class="area" >
          
        </textarea>
        <div class="buttons">
            <button id="delete">Delete Note</button>
            <button id="edit"></button>
        </div>
       
    </div>
